﻿<%@ Page Title="About" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="About.aspx.cs" Inherits="Inves.About" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">
    <h2><%: Title %>.</h2>
    <p>This is new para.</p>
    <p>We are adding few text here</p>
    <p>We are adding few text here at 05:12 </p>
    <p>my new data test</p>
    <p>This is new para by shreya.</p>
    <p>This is another para by shreya.</p>
    <p>This is another para on 21-2 2PM</p>
    <p>This is new text</p>
    
</asp:Content>
